:root {
    /*Primary*/
    --green: hsl(75, 94%, 57%);
    
    /*Neutral*/
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --darkgrey: hsl(0, 0%, 12%);
    --offblack: hsl(0, 0%, 8%);
    
    /*Typography*/
    --tsh1: 24px;
    --tsh2: 22px;
    --tsh3: 20px;
    --tsp: 14px;

    --fontinter: "Inter", Helvetica, sans-serif;

    --fontw1: 600;
    --fontw2: 700;
    --fontw3: 800;
  }

  h1, p {font-family: var(--fontinter);}
  h1 {font-weight: var(--fontw2); font-size: var(--tsh1);}
  p {font-weight: var(--fontw1); font-size: var(--tsp);}

  @font-face {
    font-family: "Inter";
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
}